# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android / Gradle
android/.gradle/
android/local.properties
.gradle/
**/build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp

# Local documentation
*.md
!TODO.md
*.txt